$gray: #f7f7f7;
$orange: #ff9966;
$blue: #0092ff;
$red: #ff6666;

$breakpoints: (
  phone: 0,
  tablet_portrait: 600px,
  tablet_landscape: 900px,
  desktop: 1200px
);

$themes: (
  light: (
    foreground: #000,
    background: #fff,
    card: #f7f7f7,
    cardClick: #efefef
  ),
  dark: (
    foreground: #fff,
    background: #15202b,
    card: #0d141a,
    cardClick: #080b10
  )
)
