$gray: #f7f7f7;
$orange: #ff9966;
$blue: #0092ff;
$red: #ff6666;
$lightgrey: #C0C0C0;

$breakpoints: (
  phone: 0,
  tablet_portrait: 600px,
  tablet_landscape: 900px,
  desktop: 1200px
);

$themes: (
  light: (
    foreground: #000,
    background: #fff,
    card: #f1f3f4,
    cardClick: #e9ebec
  ),
  dark: (
    foreground: #fff,
    background: #35363a,
    card: #292a2d,
    cardClick: #202124
  )
)
