@import "~normalize.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "variables";
@import "mixins";
@import "functions";
@import "layout";
@import "content";
@import "form";
@import "modal";
@import "popover";

@import "views/advertisements";
@import "views/users";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll;

  @include with-theme {
    color: themed('foreground');
    background-color: themed('background');
  }
}

button {
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.fas {
  pointer-events: none;
}
