@import "~normalize.css";
@import "variables";
@import "mixins";
@import "form";
@import "modal";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll;
}

button {
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.fas {
  pointer-events: none;
}

.container {
  margin: 0 auto;

  @each $breakpoint, $size in $breakpoints {
    @include at-breakpoint($breakpoint) {
      width: calc(#{if($size == 0, '100%', $size)} - 2rem);
    }
  }
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  padding: 2rem 1rem;
  z-index: 100;

  @include at-breakpoint(tablet_landscape) {
    min-width: 20rem;
    padding: 2rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: $gray;
    z-index: -1;
  }

  &-item {
    padding: .75rem 1.25rem .75rem 1rem;
    border-radius: 2.75rem;
    font-size: 1.25rem;
    font-weight: bold;
    outline: none;
    transition: background-color .25s ease;

    &:focus, &:hover {
      background-color: transparentize($orange, .85);
    }

    &:active {
      background-color: transparentize($orange, .65);
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &.active {
      color: $orange;
    }

    & .content {
      display: none;
      margin-left: .5rem;

      @include at-breakpoint(tablet_landscape) {
        display: inline-block;
      }
    }
  }

  & .button {
    width: 100%;
  }
}

.button {
  padding: .75rem 1.25rem;
  color: white;
  background-color: $orange;
  border-radius: 2.5rem;
  outline: none;
  font-weight: bold;
  transition: box-shadow .25s ease;

  &:focus {
    box-shadow: 0 0 0 3px transparentize($orange, .45);
  }
}

main > .content {
  margin: 1rem;
}

.error {
  padding: 1rem;
  color: white;
  background-color: #ff7980;
  margin-bottom: 1rem;
  border-radius: .5rem;
}
