main > .content {
  margin: 1rem;
}

.page-heading {
  margin: 2rem;
}

.page-subheadings {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  &::after {
    content: "";
    margin-left: 2rem;
    width: 4rem;
    border-bottom: 3px solid $gray;
  }

  & > span {
    display: inline-block;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 2rem;
    }
  }
}

.error {
  padding: 1rem;
  color: white;
  background-color: #ff7980;
  margin-bottom: 1rem;
  border-radius: .5rem;
}

.subtle {
  padding-top: .5rem;
  opacity: .25;
}

.image {
  width: 100%;
  border-radius: .5rem;
}

.pagination {
  display: flex;
  margin: 1rem;
  padding: 0;

  & .page-item {
    list-style: none;
    background-color: $orange;
    transition: background-color .25s ease;

    &.disabled {
      opacity: .75;
    }

    &.active {
      cursor: default;
      background-color: darken($orange, 5);
    }

    &:not(.disabled):not(.active):hover {
      background-color: darken($orange, 10);
    }

    &:first-child {
      border-top-left-radius: .5rem;
      border-bottom-left-radius: .5rem;
    }

    &:last-child {
      border-top-right-radius: .5rem;
      border-bottom-right-radius: .5rem;
    }
  }

  & .page-link {
    display: block;
    padding: .5rem .75rem;
    color: white;
    font-weight: bold;
  }
}
