.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  color: white;
  background-color: $orange;
  border-radius: 2.5rem;
  outline: none;
  font-weight: bold;
  text-align: center;
  transition: box-shadow .25s ease;

  &:focus {
    box-shadow: 0 0 0 3px transparentize($orange, .45);
  }

  &.transparent {
    background-color: transparent;

    @include with-theme {
      color: themed('foreground');
    }
  }

  &.danger {
    background-color: $red !important;

    &:focus {
      box-shadow: 0 0 0 3px transparentize($red, .45) !important;
    }
  }
}

.divider {
  display: inline-block;
  margin-top: 5px;
}

.text-input {
  position: relative;
  margin-bottom: 1rem;

  & .input-error {
    display: none;
    padding: .5rem 1.25rem;
    color: white;
    background-color: $red;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 -3px 0 3px $red;
  }

  & > input, & > textarea, & > select {
    width: 100%;
    padding: 1.75rem 1.25rem .75rem 1.25rem;
    background-color: $gray;
    border: none;
    border-radius: .5rem;
    outline: none;
    resize: vertical;
    appearance: none;
    transition: box-shadow .25s ease;

    &[type="file"] {
      padding-bottom: .4rem;
    }

    &[data-error] {
      box-shadow: 0 0 0 3px $red;

      & ~ .input-error {
        display: block;
      }
    }

    @include with-theme {
      color: themed('foreground');
      background-color: themed('card');

      &:focus {
        box-shadow: 0 0 0 3px themed('cardClick');
      }
    }
  }

  &[data-arrow]::after {
    content: "\F078";
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-family: "Font Awesome 5 Free";
  }

  & > label {
    position: absolute;
    top: .75rem;
    left: 1.25rem;
    color: darken($gray, 25%);
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
    pointer-events: none;

    &[data-required]::after {
      content: " *";
    }
  }

  & > [data-tooltip] {
    position: absolute;
    top: .5rem;
    right: 1.25rem;
    color: darken($gray, 25%);
    border-radius: 50%;
    line-height: 1;
    outline: none;
    transition: box-shadow .25s ease;

    &:hover {
      cursor: help;
    }

    &:focus {
      @include with-theme {
        box-shadow: 0 0 0 3px themed('cardClick');
      }
    }
  }

  &.white > input, &.white > textarea, &.white > select {
    background-color: white;
  }
}

.checkbox-input {
  position: relative;
  height: 1.5rem;
  margin-bottom: 1rem;

  & > label {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;

    &:hover {
      cursor: pointer;
    }

    &::before, &::after {
      content: "";
      display: inline-block;
    }

    &::before {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: .5rem;
      border-radius: .5rem;
      transition: box-shadow .25s ease, background-color .25s ease;

      @include with-theme {
        background-color: themed('card');
      }
    }

    &::after {
      position: absolute;
      top: .2rem;
      left: .5rem;
      width: .5rem;
      height: .9rem;
      border-top: none !important;
      border-left: none !important;
      transform: rotate(45deg);
      transition: left .25s ease, border-color .25s ease;

      @include with-theme {
        border: 3px solid themed('card');
      }
    }
  }

  & > input {
    opacity: 0;

    &:focus ~ label::before {
      @include with-theme {
        box-shadow: 0 0 0 3px themed('cardClick');
      }
    }

    &:checked ~ label {
      &::before {
        background-color: $orange;
      }

      &::after {
        border: 3px solid $gray;
      }
    }

    &:focus:checked ~ label::before {
      box-shadow: 0 0 0 3px transparentize($orange, .45);
    }
  }
}

.two-columns {
  display: grid;
  grid-gap: 1rem;
  margin-bottom: 1rem;

  @include with-breakpoint(tablet_landscape) {
    grid-template-columns: 1fr 1fr;
  }

  & > .text-input {
    margin-bottom: 0;
  }
}

.heart {
  transition: opacity .25s ease;

  @include with-theme {
    color: themed('cardClick');
  }

  &:hover {
    opacity: .5;
  }

  &.active {
    color: $red;
  }
}
