.text-input {
  position: relative;
  margin-bottom: 1rem;

  & > input {
    width: 100%;
    padding: 1.75rem 1.25rem .75rem 1.25rem;
    background-color: $gray;
    border: none;
    border-radius: .5rem;
    outline: none;
    transition: box-shadow .25s ease;

    &:focus {
      box-shadow: 0 0 0 3px darken($gray, 10%);
    }
  }

  & > label {
    position: absolute;
    top: .75rem;
    left: 1.25rem;
    color: darken($gray, 25%);
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
    pointer-events: none;
    transition: top .25s ease, font-size .25s ease;
  }
}

.checkbox-input {
  position: relative;
  height: 1.5rem;
  margin-bottom: 1rem;

  & > input {
    opacity: 0;

    &:focus ~ label::before {
      box-shadow: 0 0 0 3px darken($gray, 10%);
    }

    &:checked ~ label::before {
      background-color: $orange;
    }

    &:focus:checked ~ label::before {
      box-shadow: 0 0 0 3px transparentize($orange, .45);
    }
  }

  & > label {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;

    &:hover {
      cursor: pointer;
    }

    &::before, &::after {
      content: "";
      display: inline-block;
    }

    &::before {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: .5rem;
      background-color: $gray;
      border-radius: .5rem;
      transition: box-shadow .25s ease, background-color .25s ease;
    }

    &::after {
      position: absolute;
      top: .2rem;
      left: .5rem;
      width: .5rem;
      height: .9rem;
      border: 3px solid $gray;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
      transition: left .25s ease;
    }
  }
}
